@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Montserrat:wght@100&display=swap');

html {
    display: flex;
    justify-content: center;
    background-color: #F1F1F1
}

body {
    width: 60%;
    font-family: 'Assistant', sans-serif;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
}